{{#each departments as |department| }}
    <div class="col mb-3 card1 ">
      <a class="link" href="/departments/{{id}}">
      <div class="card" style="background-image: url('{{department_image}}');  background-position: center;">
        <div class="card-body">
          <h5 class="text-center display-4 font-weight-bold">{{department_name}}</h5>
          <p class="card-text"></p>
        </div>
      </div>
      </a>
    </div>
{{/each}}
