{{#each products as |product|}}
    <div class="col mb-3 card1 ">
      <div class="card" style="background-color: rgb(236, 236, 236);">
        <div class="card-body">          
          <h5 class="text-center display-6 font-weight-bold">
            <img src="{{product_image}}" 
            class="img-fluid rounded float-start" alt="...">{{product_name}}</img></h5>
          <p class="card-text text-center">Price: ${{price}}</p>
           <p class="text-center "> Stock: {{stock}}</p>
            <form class="text-center float-end">
               <span class="float-end">Add/Remove Stock</span><br>
              <input type="number" step="1" max="10" value="0" name="quantity" class="quantity-field border-0 text-center"style="width: 50px;">
              <button type="submit" class="btn btn-primary">Submit</button>           
           </form>
          </p>
         </div>
        </div>
      </div>
    </div>
{{/each}}