.container {
  margin-top: 5%;
}

.card1{
    transition: all 0.2s ease;
    cursor: pointer;
    
  }

.card1:hover{
    box-shadow: 5px 6px 6px 2px black;
    transform: scale(1.1);
}

h5 {
  color: black;
}

.forgotPassword > a:hover {
  cursor:pointer;
 }

 .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 10%;
  }
}
  

