@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

#login-card{
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .25);
}

.container {
  margin-top: 4%;
}

#faIcon {
  color: rgb(239, 239, 239)
}

#singleprodIcon {
  padding: .5rem;
}

.carousel {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .25);
  opacity:0.9;
}

.carousel:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .25);
  opacity: 1;
  transition: all .25s ease-in-out;
}

.card1 {
    transition: all 0.2s ease;
  }

.card1:hover {
    box-shadow: 2px 2px 2px 2px lightgray;
}

h5 {
  color: black;
}

#caruselText {
  color: rgb(255, 255, 255); 
  font-weight: bolder; 
  font-family: 'Archivo Black', sans-serif;
  font-size:70px;
  text-shadow: 9px 9px 9px rgba(0, 0, 0, 0.25);
  
}

.forgotPassword > a:hover {
  cursor:pointer;
 }

 .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.modal{
  margin-top: 4%;
}

.modal-backdrop {
  z-index: 0;
}


@media screen and (max-width: 768px) {
  .container {
    margin-top: 10%;
  }

  .card1:hover{
    transform: scale(1.0);
}
}

